{{ 'cart-discount-code.css' | asset_url | stylesheet_tag }}

<div class="cart-sidebar-discount">
  <small id="discount-code-error"></small>
  <input type="text" id="discount-code-input" autocomplete="on" value="" placeholder='REDEEM DISCOUNT CODE'>
</div>