{% if cart_discount_code %}  
  <div class="discountcodefield"> 
    <label for="discount">DISCOUNT CODE - APPLIED AT CHECKOUT</label> 
    <input autocomplete="off" type="text" name="discount" /> 
  </div> 
{% endif %}