<table>
    <thead>
        <tr>
            <th></th>
            <th>XS</th>
            <th>X</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
        </tr>
</thead>
    <tbody>
        <tr>
            <th>NUMERICAL</th>
          	<td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <th>UK/US (Chest)</th>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
        </tr>
        <tr>
            <th>FR/IT/EU</th>
            <td>44</td>
            <td>46</td>
            <td>48</td>
            <td>50</td>
            <td>52</td>
            <td>54</td>
        </tr>
        <tr>
            <th>JP</th>
          	<td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <th>CH</th>
            <td>170/88A</td>
            <td>175/92A</td>
            <td>180/96A</td>
            <td>185/100A</td>
            <td>190/104A</td>
            <td>195/108A</td>
        </tr>
        <tr>
            <th>KR</th>
            <td>90</td>
            <td>95</td>
            <td>100</td>
            <td>105</td>
            <td>110</td>
            <td>115</td>
        </tr>
    </tbody>
</table>