<table>
  <thead>
    <tr>
      <th></th>
      <th>UK</th>
      <th>Palm CIR (IN)</th>
      <th>Pam CIR (CM)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>XXXS</th>
      <td>5.5</td>
      <td>5-5.5</td>
      <td>13-14</td>
    </tr>    
    <tr>
      <th>3XS-2XS</th>
      <td>5.5-6</td>
      <td>5.5</td>
      <td>14</td>
    </tr>
    <tr>
      <th>XXS</th>
      <td>6</td>
      <td>5.5-6</td>
      <td>14-15</td>
    </tr>
    <tr>
      <th>2XS-XS</th>
      <td>6-6.5</td>
      <td>6</td>
      <td>15</td>
    </tr>    
    <tr>
      <th>XS</th>
      <td>6.5</td>
      <td>6-6.5</td>
      <td>15-16.5</td>
    </tr>
    <tr>
      <th>XS-S</th>
      <td>6.5-7</td>
      <td>6.5</td>
      <td>16.5</td>
    </tr>         
    <tr>
      <th>S</th>
      <td>7</td>
      <td>6.5-7</td>
      <td>16.5-18</td>
    </tr>    
    <tr>
      <th>S-M</th>
      <td>7-7.5</td>
      <td>7</td>
      <td>18</td>
    </tr>  
    <tr>
      <th>M</th>
      <td>7.5</td>
      <td>7-7.5</td>
      <td>18-19</td>
    </tr> 
    <tr>
      <th>M-L</th>
      <td>7.5-8</td>
      <td>7.5</td>
      <td>19</td>
    </tr> 
    <tr>
      <th>L</th>
      <td>8</td>
      <td>7.5-8</td>
      <td>19-20</td>
    </tr> 
    <tr>
      <th>L-XL</th>
      <td>8-8.5</td>
      <td>8</td>
      <td>20</td>
    </tr> 
    <tr>
      <th>XL</th>
      <td>8.5</td>
      <td>8-8.5</td>
      <td>20-21.5</td>
    </tr>  
      <th>XL-XXL</th>
      <td>8.5-9</td>
      <td>8.5</td> 
      <td>21.5</td>        
    <tr>
      <th>XXL</th>
      <td>9</td>
      <td>8.5-9</td>
      <td>23</td>  
    </tr>
  </tbody>
</table>