<table>
  <thead>
    <tr>
      <th></th>
      <th>EU(CM)</th>
      <th>INCHES</th>
    </tr>
  </thead>
  <tbody>
    <tr>  
      <th>XS</th>
      <td>55</td>
      <td>21.7</td>
    </tr>
    <tr>  
      <th>S</th>
      <td>56</td>
      <td>22</td>
    </tr>
    <tr>  
      <th>M</th>
      <td>57</td>
      <td>22.4</td>
    </tr>
    <tr>  
      <th>L</th>
      <td>58</td>
      <td>22.8</td>
    </tr>
    <tr>  
      <th>XL</th>
      <td>59</td>
      <td>23.2</td>
    </tr>
    <tr>
      <th>XXL</th>
      <td>60</td>
      <td>23.6</td>
    </tr>
  </tbody>
</table>