<table>
  <thead>
      <tr>
          <th>SIZE</th>
          <th>XS</th>
          <th>S</th>
          <th>M</th>
          <th>L</th>
          <th>XL</th>
          <th>-</th>
          <th>-</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th>CM</th>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>          
      </tr>
      <tr>
          <th>IN</th>
          <td>5.9</td>
          <td>6.3</td>
          <td>6.7</td>
          <td>7</td>
          <td>7.5</td> 
          <td>7.9</td>
          <td>8.3</td>
      </tr>
  </tbody>
</table>