<table>
  <thead>
    <tr>
      <th></th>
      <th>UK</th>
      <th>Palm CIR (IN)</th>
      <th>Pam CIR (CM)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>XXXS</th>
      <td>5</td>
      <td>5</td>
      <td>12</td>
    </tr>    
    <tr>
      <th>3XS-2XS</th>
      <td>5.5</td>
      <td>5.5</td>
      <td>14</td>
    </tr>
    <tr>
      <th>XXS</th>
      <td>6</td>
      <td>6</td>
      <td>15</td>
    </tr>
    <tr>
      <th>2XS-XS</th>
      <td>6.5</td>
      <td>6.5</td>
      <td>17</td>
    </tr>    
    <tr>
      <th>XS</th>
      <td>7</td>
      <td>7</td>
      <td>18</td>
    </tr>
    <tr>
      <th>S</th>
      <td>7.5</td>
      <td>7.5</td>
      <td>19</td>
    </tr>         
    <tr>
      <th>S</th>
      <td>8</td>
      <td>8</td>
      <td>20</td>
    </tr>    
    <tr>
      <th>M</th>
      <td>8.5</td>
      <td>8.5</td>
      <td>21.5</td>
    </tr>  
    <tr>
      <th>M</th>
      <td>9</td>
      <td>9</td>
      <td>23</td>
    </tr> 
    <tr>
      <th>L</th>
      <td>9.5</td>
      <td>9.5</td>
      <td>24</td>
    </tr> 
    <tr>
      <th>XL</th>
      <td>10</td>
      <td>10</td>
      <td>25</td>
    </tr> 
    <tr>
      <th>XXL</th>
      <td>10.5</td>
      <td>10.5</td>
      <td>26</td>
    </tr> 
    <tr>
      <th>XXXL</th>
      <td>11</td>
      <td>11</td>
      <td>27</td>
    </tr>  
  </tbody>
</table>