<table>
  <thead>
    <tr>
      <th></th>
      <th>NUMERICAL</th>
      <th>UK/US/AU</th>
      <th>EU</th>
      <th>FR</th>
      <th>CH</th>
      <th>KR</th>
    </tr>
</thead>
  <tbody>
    <tr>
      <th>XXS</th>
      <td>0</td>
      <td>25</td>
      <td>42</td>
      <td>34</td>
      <td>160/66A</td>
      <td>80</td>
    </tr>  
    <tr>
      <th>XXS/S</th>
      <td>0-1</td>
      <td>26</td>
      <td>42-44</td>
      <td>34-36</td>
      <td>160/66A-165/72A</td>
      <td>80-85</td>
    </tr>  
    <tr>  
      <th>XS</th>
      <td>1</td>
      <td>28</td>
      <td>44</td>
      <td>36</td>
      <td>165/72A</td>
      <td>85</td>
    </tr>  
    <tr>  
      <th>XS/S</th>
      <td>1-2</td>
      <td>29</td>
      <td>44-46</td>
      <td>36-38</td>
      <td>165/72A-170/76A</td>
      <td>85-90</td>
    </tr>  
    <tr>  
      <th>S</th>
      <td>2</td>
      <td>30</td>
      <td>46</td>
      <td>38</td>
      <td>170/76A</td>
      <td>90</td>
    </tr>  
    <tr>  
      <th>S/M</th>
      <td>2-3</td>
      <td>31</td>
      <td>46-48</td>
      <td>38-40</td>
      <td>170/76A-175/78A</td>
      <td>90-95</td>
    </tr>  
    <tr>  
      <th>M</th>
      <td>3</td>
      <td>32</td>
      <td>48</td>
      <td>40</td>
      <td>175/78A</td>
      <td>95</td>
    </tr>  
    <tr>  
      <th>M/L</th>
      <td>3-4</td>
      <td>33</td>
      <td>48-50</td>
      <td>40-42</td>
      <td>175/78A-175/76A</td>
      <td>95-100</td>
    </tr>  
    <tr>  
      <th>L</th>
      <td>4</td>
      <td>34</td>
      <td>50</td>
      <td>42</td>
      <td>175/76A</td>
      <td>100</td>
    </tr>  
    <tr>    
      <th>L/XL</th>
      <td>4-5</td>
      <td>35</td>
      <td>50-52</td>
      <td>42-44</td>
      <td>175/76A-180/86A</td>
      <td>100-105</td>
    </tr>  
    <tr>  
      <th>XL</th>
      <td>5</td>
      <td>36</td>
      <td>52</td>
      <td>44</td>
      <td>180/86A</td>
      <td>105</td>
    </tr>  
    <tr>  
      <th>XXL</th>
      <td>6</td>
      <td>38</td>
      <td>54</td>
      <td>46</td>
      <td>185/90A</td>
      <td>110</td>
    </tr>  
    <tr>  
      <th>XXXL</th>
      <td>7</td>
      <td>40</td>
      <td>56</td>
      <td>48</td>
      <td>190/94A</td>
      <td>115</td>
    </tr>  
    <tr>  
      <th>XXXXL</th>
      <td>8</td>
      <td>42</td>
      <td>58</td>
      <td>50</td>
      <td>195/98A</td>
      <td>120</td>
    </tr>  
    <tr>  
      <th>XXXXXL</th>
      <td>9</td>      
      <td>44</td>
      <td>60</td>
      <td>52</td>
      <td>200/102A</td>
      <td>125</td>
    </tr>  
  </tbody>
</table>