<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>XXS</th>
      <th></th>
      <th>XS</th>
      <th></th>
      <th></th>
      <th>S</th>
      <th></th>
      <th></th>
      <th>M</th>
      <th></th>
      <th></th>
      <th>L</th>
      <th></th>
      <th></th>
      <th></th>
      <th>XL</th>
      <th></th>
      <th></th>
      <th>XXL</th>
      <th></th>
    </tr>
  </thead>
<tbody>
  <tr>
    <th>FR</th>
    <td>41</td>
    <td>42</td>
    <td>43</td>
    <td>44</td>
    <td>45</td>
    <td>46</td>
    <td>47</td>
    <td>48</td>
    <td>49</td>
    <td>50</td>
    <td>51</td>
    <td>52</td>
    <td>53</td>
    <td>54</td>
    <td>55</td>
    <td>56</td>
    <td>57</td>
    <td>58</td>
    <td>59</td>
    <td>60</td>
    <td>61</td>
    <td>62</td>
    <td>63</td>
    <td>64</td>
    <td>65</td>
    <td>66</td>
    <td>67</td>
  </tr>
  <tr>
    <th>UK</th>
    <td>B</td>
    <td>D</td>
    <td>E - F</td>
    <td>F</td>
    <td>F - G</td>
    <td>G</td>
    <td>H</td>
    <td>I</td>
    <td>J</td>
    <td>J - K</td>
    <td>K - L</td>
    <td>L</td>
    <td>M - N</td>
    <td>N - O</td>
    <td>O - P</td>
    <td>P</td>
    <td>Q</td>
    <td>Q - R</td>
    <td>R</td>
    <td>S</td>
    <td>S - T</td>
    <td>T - U</td>
    <td>U - V</td>
    <td>V</td>
    <td>W</td>
    <td>X</td>
    <td>X - Y</td>
  </tr>
  <tr>
    <th>US</th>
    <td>1 3/4</td>
    <td>2 1/4</td>
    <td>2 1/2</td>
    <td>3</td>
    <td>3 1/4</td>
    <td>3 3/4</td>
    <td>4    </td>
    <td>4 1/2</td>
    <td>5    </td>
    <td>5 1/4</td>
    <td>5 3/4</td>
    <td>6    </td>
    <td>6 1/2</td>
    <td>6 3/4</td>
    <td>7 1/4</td>
    <td>7 1/2</td>
    <td>8    </td>
    <td>8 1/4</td>
    <td>8 3/4</td>
    <td>9    </td>
    <td>9 1/2</td>
    <td>10    </td>
    <td>10 1/4</td>
    <td>10 3/4</td>
    <td>11    </td>
    <td>11 1/2</td>
    <td>11 3/4</td>
  </tr>
  <tr>
    <th>JP</th>
    <td>1.2</td>
    <td>2.1</td>
    <td>3.1</td>
    <td>4.0</td>
    <td>5.0</td>
    <td>5.9</td>
    <td>6.9</td>
    <td>7.8</td>
    <td>8.8</td>
    <td>9.7</td>
    <td>10.7</td>
    <td>11.7</td>
    <td>12.6</td>
    <td>13.6</td>
    <td>14.6</td>
    <td>15.5</td>
    <td>16.4</td>
    <td>17.4</td>
    <td>18.3</td>
    <td>19.3</td>
    <td>20.3</td>
    <td>21.2</td>
    <td>22.2</td>
    <td>23.1</td>
    <td>24.1</td>
    <td>25.0</td>
    <td>26.0</td>
  </tr>
</tbody>
</table>