<div class='banner-container'>
  <div class='banner-1'>
    {{ section.settings.image_1 | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: image_height,
      class: image_class,
      sizes: sizes,
      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
      alt: section.settings.image.alt | escape
    }}
  </div>
  <div class='banner-2'>
    {{ section.settings.image_2 | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: image_height,
      class: image_class,
      sizes: sizes,
      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
      alt: section.settings.image.alt | escape
    }}
  </div>
  <div class='banner-3'>
    {{ section.settings.image_3 | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: image_height,
      class: image_class,
      sizes: sizes,
      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
      alt: section.settings.image.alt | escape
    }}
  </div>
  <div class='banner-4'>
    {{ section.settings.image_4 | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      width: section.settings.image.width,
      height: image_height,
      class: image_class,
      sizes: sizes,
      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
      alt: section.settings.image.alt | escape
    }}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-image-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.main-image-banner.settings.image_1.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.main-image-banner.settings.image_2.label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "t:sections.main-image-banner.settings.image_3.label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "t:sections.main-image-banner.settings.image_4.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-image-banner.presets.name"
      }
    ]
  }
{% endschema %}