<style type="text/css">
  .template-404 > p {
    font-size: 1.2rem;
    color: rgba(4, 11, 9, 0.7);
    margin-top: 2rem;
  }
  
  .template-404 > div {
    text-align: center;
    padding: 3rem 2rem;
    font-family: Termina;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  
  .template-404 .title {
    font-size: 2.8rem;
    margin: 0 0 3rem;
    letter-spacing: 0;
  }

  .template-404 > div > div { 
    font-size: 2.8rem;
    font-family: Termina-medium;
    margin: 0 auto;
    line-height: 3.3rem;
    max-width: unset;
    text-transform: uppercase;
  }

  .template-404 > div > a {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  
  @media screen and (min-width: 1025px) {
    .template-404 .title {
      margin-top: 2rem;
      margin-bottom: 5rem;
    }
    
    .template-404 > div {
      font-size: 4rem;
    }
    
    .template-404 > div > div {
      max-width: 79rem;
      line-height: 4.5rem;
    }
  }
</style>

<div class="template-404 page-width center">
  <p>
    {{ 'templates.404.subtext' | t }} Page Not Found
  </p>
  <div>
    <h1 class="title">
      {{ 'templates.404.title' | t }}
    </h1>
    <div>That page has not been found or no longer exists.</div>
    <a href="{{ routes.all_products_collection_url }}">
      {% comment %}{{ 'general.continue_shopping' | t }} {% endcomment %}RETURN TO HOMEPAGE?
    </a>
  </div>  
</div>