<div>
  <div>이미지 들어갈 부분</div>
  <div>이미지 들어갈 부분</div>
  <div>이미지 들어갈 부분</div>
  <div>이미지 들어갈 부분</div>
</div>


{% schema %}
  {
    "name": "t:sections.main-image-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "t:sections.main-image-banner.settings.image_1.label"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "t:sections.main-image-banner.settings.image_2.label"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "t:sections.main-image-banner.settings.image_3.label"
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "t:sections.main-image-banner.settings.image_4.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-image-banner.presets.name"
      }
    ]
  }
{% endschema %}