<div>
  <img  
    src="https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Rectangle_9.jpg?v=1666712400" 
    alt="" 
    >
</div>


{% schema %}
  {
    "name": "t:sections.main-image-banner.name",
    "settings": []
  }
{% endschema %}