.hide {
  display: none;
}

object-position: top; #insta-feed {
  margin: 0 !important;
}

#insta-feed:after {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/instagram-feed.svg?v=1667251053');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}

.main-blog {
  text-align: center;
}

.main-blog .title--primary {
  margin: 6rem 0;
  font-size: 4.2rem;
}

.blog-nav {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(4, 11, 9, 0.5);
  margin-bottom: 17.2rem;
}

.grid-blog-item {
  width: 50%;  
}

.blog-dropdown {
  margin: 6rem 0;  
}

.blog-articles-custom .blog-grid-custom {
  height: 38rem;
}

.blog-articles__article:nth-child(2) .blog-grid-custom {
  height: 58rem;
}

.blog-articles__article:nth-child(5) .blog-grid-custom {
  height: 70rem;
}

.blog-articles__article:nth-child(6) .blog-grid-custom {
  height: 58rem;
}

.blog-articles-custom .card__media .media img {
  object-position: top;  
}

.article-template {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.7);
}

.article-control {
  font-family: Termina-light;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #040b09;
  text-transform: uppercase;
}

.share-button {
  margin-top: 1rem;
}

.share-button button, details {
  margin: 0 auto;
  padding: 0;
}

.sharing-custom {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid rgba(4, 11, 9, 0.1);
  border-bottom: 1px solid rgba(4, 11, 9, 0.1);
}

.sharing-custom > div {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 1rem;
}

.multi-accordion {
  padding: .5em .5em 0;
  overflow: hidden;
}
.multi-accordion summary {
  border-bottom: 1px solid rgba(4,11,9,0.2);
  padding: 2rem 0;
  cursor: pointer;
  font-size: 18px;
  color: #040b09;
}

.multi-accordion summary > div {
  display: flex;
  justify-content: space-between;
  height: 2.7rem;
}

.multi-accordion summary > div svg {
  width: 2.4rem;
  height: 2.4rem;
}

.multi-accordion details > div {
  padding-left: 2rem;
  font-size: 14px;
  color: rgba(4, 11, 9, 0.7);
}

.multi-accordion details > div .cont {
  padding-left: 4rem;
}

/* 열림 아이템 */
.multi-accordion details[open] summary {
  border-bottom: 0;
  margin-bottom: 2rem;
}

.multi-accordion details[open] summary > div svg {
  transform: rotate(180deg);
}

/* 열린 아이템이 첫 번째 아이템이 아니면 디자인 요소 추가 */
.multi-accordion details:not(:first-child)[open] summary {
}
/* 열림 아이템 다음 아이템의 키워드 상단에 테두리선 추가 */
.multi-accordion details[open] + details > summary {
  border-top: 1px solid rgba(4,11,9,0.1);
}




.product-form__input input.color-switch+label {
  border-radius: 50% !important;
  width: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;
  margin-top: 1.3rem !important;
  margin-left: .5rem !important;
}

.product-form__input input.color-switch:checked+label:after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border: 1px solid #424b5a;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: -6px;
}

.form__label > span {
  color: #000;
}

.product__media-wrapper slider-component:first-child {
  width: 12rem;
  height: 56rem;
  float: left;
  z-index: 2;
  overflow: hidden;
}

/* accordian */

.accodrian_container {
  box-sizing: border-box; 
}
  
.accodrian_container .que:first-child{
    border-top: 1px solid black;
  }
  
.accodrian_container .que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  
}
  
.accodrian_container .que::before{
  display: inline-block;
  content: 'Q';
  font-size: 14px;
  color: #006633;
  margin: 0 5px;
}

.accodrian_container .que.on>span{
  font-weight: bold;
  color: #006633; 
}
  
.accodrian_container .anw {
  display: none;
    overflow: hidden;
  font-size: 14px;
  background-color: #f4f4f2;
  padding: 27px 0;
}
  
.accodrian_container .anw::before {
  display: inline-block;
  content: 'A';
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin: 0 5px;
}

.arrow-wrap {
  position: absolute;
  top:50%; right: 10px;
  transform: translate(0, -50%);
}

.accodrian_container .que .arrow-top {
  display: none;
}
.accodrian_container .que .arrow-bottom {
  display: block;
}
.accodrian_container .que.on .arrow-bottom {
  display: none;
}
.accodrian_container .que.on .arrow-top {
  display: block; 
}

/* Product list detail */ 

.product__info-container {
  font-family: Poppins;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.product__info-container .product__title > h2 {
  font-size: 36px;
  color: #040b09;
  text-transform: uppercase;
}

.product__info-container .product__text {
  font-size: 14px;
  color: rgba(4, 11, 9, 0.5);
}

.product__info-container .badge {
  margin-left: 0;
}

.product__info-container .price__sale {
  display: flex !important;
}
/* 컬러 파레트
.product-form__input:first-child label {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid #000;
  font-size: 0;
  background-color: #fff;
}
*/
.price__container {
  display: flex !important;
}
/* 수정필요 */
.price__container > div {
  flex: 1;
}

/* Price Range */ 
.facets__display-vertical > div {
  height: 1.3rem;
}

.facets__display-vertical .slider{
  height: 1px;
  position: relative;
  background-color: rgba(4,11,9,0.3);
  margin-top: 36px;
}

.facets__display-vertical .slider .range-bar {
  top: -27px;
  height: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: rgba(4,11,9,0.5);
  font-size: 12px;
}

.facets__display-vertical .slider .progress {
  top: -1px;
  position: absolute;
  background-color: rgb(4,11,9);
  height: 3px;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -3px;
  margin: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid 2px #040b09;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-position: center center;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/ellipse_small.svg?v=1667487015');
  background-repeat: no-repeat;
}
input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid 2px #040b09;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-position: center center;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/ellipse_small.svg?v=1667487015');
  background-repeat: no-repeat;
  
}

.facets__summary svg {
  width: 24px;
  height: 24px;
}

.mega-menu__content > div {
  display: flex;
  justify-content: space-between;
  letter-spacing: normal;
  text-align: left;
}

.mega-menu__content > div > div {

}

.mega-menu__content > div > div ul {
  padding-top: 2rem;
  padding-left: 0;
}

.mega-menu__content > div > div:last-child {
  width: 35rem;
  height: 35rem;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Nav_banner.jpg?v=1667406210');
  background-repeat: no-repeat;
  background-color: rgba(4, 11, 9, 0.2);
  text-align: center;
  padding: 3rem 6.5rem;
}

.mega-menu__content > div > div:last-child h3 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 11.5rem;
  margin-bottom: 0;
  height: 2.9rem;
}

.mega-menu__content > div > div:last-child button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin: 0 auto;
}

.mega-menu__content > div > div:last-child p {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.2rem;
  margin-bottom: 6.5rem;
  height: 1.9rem;
}

.button-load-custom {
  width: 19.7rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 48px;
  border: solid 1px #040b09;
  font-family: 'Termina-regular';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #040b09;
}

.product-list-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5rem;
}

.product-list-bottom > div {
  flex: 1;
}

.product-list-bottom.pagination-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.facets-vertical-sort > div {
  display: flex;
  justify-content: space-between;
}


.font-style {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.7);
  text-align: right;
}

.select__select.caption-large.font-style {
  width: 10rem;
}

.text-body.font-style {
  color: rgba(4, 11, 9, 0.5);
}

.breadcrumb {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8rem;
  letter-spacing: normal;
  text-align: center;
  color: rgba(4, 11, 9, 0.7);
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.breadcrumb span:last-child {
  color: rgba(4, 11, 9, 0.5);
}

.chevron {
  margin-top: 6rem;
  margin-bottom: 10rem;  
}

.chevron svg {
  vertical-align: middle;
}

.breadcrumb span svg {
  vertical-align: middle;
}

.color-inverse {
  border: 0;
  background-color: #1c3e35;
}

.collection-padding-custom {
  padding: 0 8rem;  
}

.none {
  disply: none;  
}

.header__inline-menu-style {
  border-top-color: rgba(4,11,9,0.15) !important;
}

.main-custom-style {
  margin-top: 15.5rem;
}

.blog-rectangle {
  position: absolute;
  display: block !important;
  width: 40px;
  height: 2px;
  background-color: #040b09;
  top: 37px;
  left: 0;
}

.blog-caption-custom {
  text-align: left !important;
  margin-bottom: 2rem;
}

.blog-title-custom {
  font-size: 1.8rem !important;
  text-align: left !important;
}

.blog-image-custom {
  /* width: 41.3rem !important; */
  height: 38rem !important;
} 

.blog .page-width-desktop {
  padding: 14rem 8rem;
}

.newsletter__wrapper > div:last-child {
  margin-top: 6rem;
}

.newsletter-field {
  border-bottom: solid 2px rgb(4, 11, 9);
}

.field__label > svg {
  vertical-align: middle;
  margin-right: 1.5rem;
  margin-top: 0.3rem;
}

.newsletter-form__button {
  right: -12px !important;
}

.newsletter__subheading > p {
  font-family: Poppins;
  font-size: 1.6rem; 
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.5);
}

.policy {
  height: 2rem;  
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.5);
}

.policy > div {
  display: flex;
  justify-content: flex-end;
}

.policy input {
  width: 1.5rem;
  border: solid 1px rgba(4, 11, 9, 0.5);
}

.footer-font-copyright {
  text-align: right;
  opacity: .4;
}

.footer__cate {
  display: flex;
  color: #040b09;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.footer__cate h4 {
  margin: 2rem 0;
  text-transform: uppercase;
}

.footer__cate ul {
  list-style: none;
  padding-left: 0;
  padding-right: 16rem;
}

.footer__cate > div:last-child > ul {
  padding-right: 0;
}

.footer__cate li {
  color: rgb(4 11 9 / 50%);
  margin: 1rem 0;
}

.footer-desc {
  font-size: 1.4rem;
  margin: 3rem 0;
}
.footer__content-bottom-wrapper:last-child {
  display: flex;
  border-top: 1px solid rgb(4 11 9 / 10%);
  height: 6.1rem;
  padding: 20px 80px;
  justify-content: space-between;
}

.banner-container {
  display: flex;
}

.banner-container > div {
  width: 50%;
}

.banner-sub {
  display: flex;
  flex-direction: column;
}

.banner-sub_sub {
  display: flex;
  flex-direction: row;
}

.banner-sub_sub > div {
  width: 50%;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-caption {
  position: absolute;
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 6rem;
  top: 50px;
  left: 40px;
  color: #fff;
}

.banner-caption div:first-child {
  height: 2.9rem;
}

.banner-caption div:last-child {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.2rem;
}

.banner_cover {
  position: relative;
}

.banner__dim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.banner_hover {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff;
  text-align: center;
  line-height: 5.5rem;
  transition: 0.5s;
  z-index: 4;
}


.product-card-wrapper:hover {
  box-shadow: 0 10px 20px 0 rgb(4 11 9 / 10%);
}

.grid--3-col-desktop .card-information {
  height: 9.2rem;
}

.grid--3-col-desktop .card__inner {
  height: 61.9rem;
}

.product-grid-custom .card__inner {
  height: 45.7rem;
} 

.grid--4-col-desktop .card__inner {
  height: 45.7rem;
}

.custom-price-discountrate {
  font-size: 1.2rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #040b09;
}

.collection__view-all {
  padding-bottom: 4rem; 
  margin-top: 5rem;
}

.custom-price-reqular {
  font-family: Poppins;
  font-size: 1.6rem;
  color: #c20c1e; 
  letter-spacing: normal;
  margin-left: 1rem !important;
}

.custom-vendor {
  padding-top: 1.6rem;
  color: rgba(4,11,9,.5);
}

.mldDesk {
  width: 6.3rem;  
}

.collection-custom {
  margin-top: 4rem;
}

.items-custom {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  border-bottom: 1px solid rgba(4,11,9,.1);
}
.item-custom {
  display: flex;
}

.item-custom > div:first-child {
  padding-right: 2.41rem;
}

.item-custom p {
  margin: 0;
  font-size: 1.6rem;
  color: #040b09;
  letter-spacing: normal;
  line-height: 1.5;
}

.item-custom span {
  display: block;
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgba(4, 11, 9, 0.5);
  letter-spacing: normal;
}

.button_custom {
  font-family: 'Termina-regular';
  font-size: 12px;
  padding: 18px 48px;
}

.button.reverse {
  color:#000;
  background-color: #fff;
  border: 1px solid #000;
}

.header_custom_style {
  font-family: 'Termina-regular';
  width: 381px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-right: 8rem;
}

.header_custom_style > div {
  flex-direction: row;
  font-size: 10px;
  line-height: 12px;
}

.header_custom_style > div > a {
  font-size: 1rem;
}

.header_text_style {
  color: #040b09;
}

.header_text_reverse {
  color: #fff !important;
}

.header_text_reverse > svg > path {
  stroke: #fff;
}


.header_text_style > span {
  height: 1rem;
}

.header_left_nav {
  font-family: 'Termina-light';
  font-size: 1.4rem;
  color: #040b09;
  display: flex;
  justify-content: space-between;
  margin-left: 8rem;
  width: 10.8rem;
  height: 2.4rem;
  line-height: 2.4rem;
}

.list-menu--inline li svg {
  margin-top: 7px;
}

.list-menu > li > div {
  padding-left: 2.4rem;
}

.search-modal__content > div {
  display: flex;
  justify-content: space-between;  
}

.search-modal__content svg {
  width: 12.8rem;
}


/* Custom CSS */

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * termina:
 *   - http://typekit.com/eulas/00000000000000007735b21c
 *   - http://typekit.com/eulas/00000000000000007735b222
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-11-14 14:35:45 UTC"}*/

@font-face {
font-family:"Termina-light";
src:url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"Termina-regular";
src:url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"Termina-demi";
src:url("https://use.typekit.net/af/574117/00000000000000007735b222/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}


/* @font-face {
    font-family: 'Termina-light';
    src:url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Termina-light.woff?v=1668511308') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Termina-light.woff2?v=1668511307') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Termina-light.eot?v=1668511307'),
        url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Termina-light.eot?v=1668511307?#iefix') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Termina-light.otf?v=1668511307') format('truetype');
} */