.mldDesk {
  width: 6.3rem;  
}

.items-custom {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  border-bottom: 1px solid rgba(4,11,9,.1);
}

.item-custom {
  display: flex;
  flex-diretion: row;
}

.item-custom > div:first-child {
  padding-right: 2.41rem;
}

.item-custom p {
  margin: 0;
  font-size: 1.6rem;
  color: #040b09;
  letter-spacing: normal;
}

.item-custom span {
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgba(4, 11, 9, 0.5);
  letter-spacing: normal;
}

.button_custom {
  font-family: 'termina';
  font-size: 12px;
  font-weight: 900;
  padding: 18px 48px;
}

.header_custom_style {
  font-family: 'termina';
  font-weight: 900;
  width: 337px;
  height: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-right: 8rem;
}

.header_custom_style > div {
  flex-direction: row;
  font-size: 12px;
  line-height: 14px;
}

.header_text_style {
  color: #ffffff;
}

.header_text_style > span {
  height: 1.4rem;
}

.header_left_nav {
  font-family: 'termina';
  font-weight: 900;
  font-size: 1.4rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  margin-left: 8rem;
  width: 10.8rem;
  height: 2.4rem;
  line-height: 2.4rem;
}

.header_icon {
  padding: 7px 24px 0px 24px;
}

.list-menu--inline li:last-child {
  padding-top: 7px;
}

/* Custom CSS 
@font-face {
  font-family: "terminablack";
  src: url("Fontspring-DEMO-termina-black.woff") format('woff');
}

@font-face {
  font-family: "Font name";
  src: url("{{ '[font-file-name]' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "terminademi";
  src: url("{{ 'Termina W00 Demi.woff' | asset_url }}") format('woff'),
       url("{{ 'Termina W00 Demi.woff2' | asset_url }}") format('woff2');
}

@font-face {
  font-family: "terminamedium";
  src: url("Fontspring-DEMO-termina-medium.woff") format('woff');
}

@font-face {
  font-family: "terminaheavy";
  src: url("Fontspring-DEMO-termina-heavy.woff") format('woff');
}
*/