#insta-feed {
  margin: 0 !important;
}

#insta-feed:after {
  content: "";
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/instagram-feed.svg?v=1667251053');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
}

/* Product list detail */ 

.product__info-container {
  font-family: Poppins;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.product__info-container .product__title > h2 {
  font-size: 36px;
  color: #040b09;
}

.product__info-container .product__text {
  font-size: 14px;
  color: rgba(4, 11, 9, 0.5);
}

.price__container {
  display: flex !important;
}
/* 수정필요 */
.price__container > div {
  flex: 1;
}

/* Price Range */ 
.facets__display-vertical > div {
  height: 1.3rem;
}

.facets__display-vertical .slider{
  height: 1px;
  position: relative;
  background-color: rgba(4,11,9,0.3);
  margin-top: 36px;
}

facets__display-vertical .slider .progress{
  top: -1px;
  left: 25%;
  right: 25%;
  position: absolute;
  background-color: rgb(4,11,9);
  height: 3px;
}

.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid 2px #040b09;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-position: center center;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/ellipse_small.svg?v=1667487015');
  background-repeat: no-repeat;
}
input[type="range"]::-moz-range-thumb{
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: solid 2px #040b09;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
  background-position: center center;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/ellipse_small.svg?v=1667487015');
  background-repeat: no-repeat;
  
}

.facets__summary svg {
  width: 24px;
  height: 24px;
}

.mega-menu__content > div {
  display: flex;
  justify-content: space-between;
  letter-spacing: normal;
  text-align: left;
}

.mega-menu__content > div > div {

}

.mega-menu__content > div > div ul {
  padding-top: 2rem;
  padding-left: 0;
}

.mega-menu__content > div > div:last-child {
  width: 35rem;
  height: 35rem;
  background-image: url('https://cdn.shopify.com/s/files/1/0595/6275/4206/files/Nav_banner.jpg?v=1667406210');
  background-repeat: no-repeat;
  background-color: rgba(4, 11, 9, 0.2);
  text-align: center;
  padding: 3rem 6.5rem;
}

.mega-menu__content > div > div:last-child h3 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: 11.5rem;
  margin-bottom: 0;
  height: 2.9rem;
}

.mega-menu__content > div > div:last-child button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin: 0 auto;
}

.mega-menu__content > div > div:last-child p {
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.2rem;
  margin-bottom: 6.5rem;
  height: 1.9rem;
}

.button-load-custom {
  width: 19.7rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 48px;
  border: solid 1px #040b09;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #040b09;
}

.product-list-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5rem;
}

.product-list-bottom > div {
  flex: 1;
}

.product-list-bottom.pagination-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.facets-vertical-sort > div {
  display: flex;
  justify-content: space-between;
}


.font-style {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.7);
  text-align: right;
}

.select__select.caption-large.font-style {
  width: 10rem;
}

.text-body.font-style {
  color: rgba(4, 11, 9, 0.5);
}

.breadcrumb {
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8rem;
  letter-spacing: normal;
  text-align: center;
  color: rgba(4, 11, 9, 0.5);
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}

.chevron {
  margin-top: 6rem;
  margin-bottom: 10rem;  
}

.chevron svg {
  vertical-align: middle;
}

.breadcrumb span svg {
  vertical-align: middle;
}

.color-inverse {
  border: 0;
  background-color: #040b09;
}

.collection-padding-custom {
  padding: 0 8rem;  
}

.none {
  disply: none;  
}

.header__inline-menu-style {
  border-top-color: rgba(4,11,9,0.15) !important;
}

.main-custom-style {
  margin-top: 15.5rem;
}

.blog-rectangle {
  position: absolute;
  display: block !important;
  width: 40px;
  height: 2px;
  background-color: #040b09;
  top: 37px;
  left: 0;
}

.blog-caption-custom {
  text-align: left !important;
  margin-bottom: 2rem;
}

.blog-title-custom {
  font-size: 1.8rem !important;
  text-align: left !important;
}

.blog-image-custom {
  /* width: 41.3rem !important; */
  height: 38rem !important;
} 

.blog .page-width-desktop {
  padding: 14rem 8rem;
}

.newsletter__wrapper > div:last-child {
  margin-top: 6rem;
}

.newsletter-field {
  border-bottom: solid 2px rgb(4, 11, 9);
}

.newsletter-field .field__label {
  left: 0;
}

.newsletter-field .field__label > svg {
  vertical-align: middle;
}

.newsletter-form__button {
  right: -12px !important;
}

.policy {
  height: 2rem;  
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.5);
}

.policy > div {
  display: flex;
  justify-content: flex-end;
}

.policy input {
  width: 1.5rem;
  border: solid 1px rgba(4, 11, 9, 0.5);
}

.newsletter-field .field__label {
  font-family: Poppins;
  font-size: 1.6rem; 
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.5);
}

.newsletter__subheading > p {
  font-family: Poppins;
  font-size: 1.6rem; 
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgba(4, 11, 9, 0.5);
}

.footer-font-copyright {
  text-align: right;
  opacity: .4;
}

.footer__cate {
  display: flex;
  color: #040b09;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

.footer__cate h4 {
  margin: 2rem 0;
  text-transform: uppercase;
}

.footer__cate ul {
  list-style: none;
  padding-left: 0;
  padding-right: 16rem;
}

.footer__cate > div:last-child > ul {
  padding-right: 0;
}

.footer__cate li {
  color: rgb(4 11 9 / 50%);
  margin: 1rem 0;
}

.footer-desc {
  font-size: 1.4rem;
  margin: 3rem 0;
}
.footer__content-bottom-wrapper:last-child {
  display: flex;
  border-top: 1px solid rgb(4 11 9 / 10%);
  height: 6.1rem;
  padding: 20px 80px;
  justify-content: space-between;
}

.banner-container {
  display: flex;
}

.banner-container > div {
  width: 50%;
}

.banner-sub {
  display: flex;
  flex-direction: column;
}

.banner-sub_sub {
  display: flex;
  flex-direction: row;
}

.banner-sub_sub > div {
  width: 50%;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-caption {
  position: absolute;
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 6rem;
  top: 50px;
  left: 40px;
  color: #fff;
}

.banner-caption div:first-child {
  height: 2.9rem;
}

.banner-caption div:last-child {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.2rem;
}

.banner_cover {
  position: relative;
}

.banner__dim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.banner_hover {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff;
  text-align: center;
  line-height: 5.5rem;
  transition: 0.5s;
  z-index: 4;
}


.product-card-wrapper:hover {
  box-shadow: 0 10px 20px 0 rgb(4 11 9 / 10%);
}

.grid--3-col-desktop .card-information {
  height: 9.2rem;
}

.grid--3-col-desktop .card__inner {
  height: 61.9rem;
}

.product-grid-custom .card__inner {
  height: 45.7rem;
} 

.grid--4-col-desktop .card__inner {
  height: 45.7rem;
}

.custom-price-discountrate {
  font-size: 1.2rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #040b09;
}

.collection__view-all {
  padding-bottom: 4rem; 
  margin-top: 5rem;
}

.custom-price-reqular {
  font-family: Poppins;
  font-size: 1.6rem;
  color: #c20c1e; 
  letter-spacing: normal;
}

.custom-vendor {
  padding-top: 1.6rem;
  color: rgba(4,11,9,.5);
}

.mldDesk {
  width: 6.3rem;  
}

.collection-custom {
  margin-top: 4rem;
}

.items-custom {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  border-bottom: 1px solid rgba(4,11,9,.1);
}
.item-custom {
  display: flex;
}

.item-custom > div:first-child {
  padding-right: 2.41rem;
}

.item-custom p {
  margin: 0;
  font-size: 1.6rem;
  color: #040b09;
  letter-spacing: normal;
  line-height: 1.5;
}

.item-custom span {
  display: block;
  font-family: Poppins;
  font-size: 1.4rem;
  color: rgba(4, 11, 9, 0.5);
  letter-spacing: normal;
}

.button_custom {
  font-family: 'termina';
  font-size: 12px;
  font-weight: 900;
  padding: 18px 48px;
}

.header_custom_style {
  font-family: 'termina';
  font-weight: 900;
  width: 337px;
  height: 14px;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-right: 8rem;
}

.header_custom_style > div {
  flex-direction: row;
  font-size: 12px;
  line-height: 14px;
}

.header_text_style {
  color: #040b09;
}

.header_text_reverse {
  color: #fff !important;
}

.header_text_style > span {
  height: 1.4rem;
}

.header_left_nav {
  font-family: 'termina';
  font-weight: 900;
  font-size: 1.4rem;
  color: #040b09;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  margin-left: 8rem;
  width: 10.8rem;
  height: 2.4rem;
  line-height: 2.4rem;
}

.header_icon {
  padding: 7px 24px 0px 24px;
}

.list-menu--inline li:last-child svg {
  margin-top: 7px;
}

/* Custom CSS 
@font-face {
  font-family: "terminablack";
  src: url("Fontspring-DEMO-termina-black.woff") format('woff');
}

@font-face {
  font-family: "Font name";
  src: url("{{ '[font-file-name]' | asset_url }}") format("[font-format]");
}

@font-face {
  font-family: "terminademi";
  src: url("{{ 'Termina W00 Demi.woff' | asset_url }}") format('woff'),
       url("{{ 'Termina W00 Demi.woff2' | asset_url }}") format('woff2');
}

@font-face {
  font-family: "terminamedium";
  src: url("Fontspring-DEMO-termina-medium.woff") format('woff');
}

@font-face {
  font-family: "terminaheavy";
  src: url("Fontspring-DEMO-termina-heavy.woff") format('woff');
}
*/