  .cart-sidebar-discount {
    font-family: Termina;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .cart-sidebar-discount input {
    font-size: 1.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1px;
    text-align: center;
    color: #dadada;
    border: 1px solid #eee;
    height: 6.6rem;
    outline: none;
    letter-spacing: .75px;
    text-align: center;
  }

  .cart-sidebar-discount input::placeholder {
    color: #dadada;
  }

  span.applied-discount-code-value >  small {
    background: #eee;
    padding: 0px 10px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin .5s linear infinite;
  }
  #discount-code-error {
    background: #ff00004f;
    color: #e22120;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1;
  }
  .applied-discount-code-wrapper {
    display: none;
    background: #ddd;
    padding: 3px 6px;
    border-radius: 25px;
  }
  .applied-discount-code-value {
    font-size: 13px;
    text-transform: uppercase;
  }
  
  #discount-code-error:empty {
    display: none;
  }
  .applied-discount-code-value:empty+button {
    display: none;
  }
.cart-sidebar-discount input.cart-sidebar-discount input  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }