.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-transform: uppercase;
  letter-spacing: normal;
}

.totals > * {
  font-size: 1.2rem;
  margin: 0;
}

.totals > h2 {
  /* font-size: calc(var(--font-heading-scale) * 1.6rem); */
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__subtotal-value {
  /* font-size: 1.8rem; */
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 1024px) {
  .totals {
    justify-content: flex-end;
  }
}

.totals_title {
  letter-spacing: normal;
}
