.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .product-recommendations__heading {
    font-size: 4.2rem;
    margin: 8rem 0;
  }
}